{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="item1" id="item1" name="jump1">
        <p class="item1-text" id="item1-text">Make contact now and personalize your web development needs.</p>
        <div class="inner-box">
            <a href="#jump1"><i class="fa fa-caret-left" id="caret-left"></i></a>
            <a href="#jump1"><i class="fa fa-caret-right" id="caret-right"></i></a>
        </div>
    </div>

    <div class="item2" id="item2">
        <div class="item2-info">
            <div class="item2-text0">What I can do:</div>
        </div>
        <div class="item2-info-text">
            <div class="item2-text1" id="item2-text">Single page applications</div>
            <div class="item2-text2" id="item2-text">Multiple pages applications</div>
            <div class="item2-text3" id="item2-text">Online bookings applications</div>
            <div class="item2-text4" id="item2-text">Personalised e-commerce websites</div>
        </div>
    </div>

    <div class="item3" id="item3">
        <div class="skills">My Skills:</div>
        <div class="progress-container" id="progress">Python
            <div class="progress-bcg">
                <div class="progress-level-1" id="progress-level"></div>
            </div>
        </div>
        <div class="progress-container" id="progress">Django
            <div class="progress-bcg">
                <div class="progress-level-2" id="progress-level"></div>
            </div>
        </div>
        <div class="progress-container" id="progress">JavaScript
            <div class="progress-bcg">
                <div class="progress-level-3" id="progress-level"></div>
            </div>
        </div>
        <div class="progress-container" id="progress">CSS3
            <div class="progress-bcg">
                <div class="progress-level-4" id="progress-level"></div>
            </div>
        </div>
        <div class="progress-container" id="progress">Flask
            <div class="progress-bcg">
                <div class="progress-level-5" id="progress-level"></div>
            </div>
        </div>
        <div class="progress-container" id="progress">Html5
            <div class="progress-bcg">
                <div class="progress-level-6" id="progress-level"></div>
            </div>
        </div>
        <div class="progress-container" id="progress">JQuery
            <div class="progress-bcg">
                <div class="progress-level-7" id="progress-level"></div>
            </div>
        </div>
        <div class="progress-others">
            <ul class="others-list">
                <li class="others1">MongoDb</li>
                <li class="others2">PostgreSQl</li>
                <li class="others3">Ajax</li>
                <li class="others4">Bootstrap4</li>
            </ul>
        </div>
    </div>

    <div class="item4" id="item4" >
        <div class="projects-text-small"  >These are my deployed Code Institute projects:</div>
        <a class="project1" id="projects"  href="https://flo0909.github.io/memory-game/">
            <p class="project1-text">A memory game using JavaScript inspired by "Simon Game"</p>
        </a>
        <a class="project2" id="projects" href="https://flaskmongoproject.herokuapp.com/">
            <p class="project1-text">An app for storing cooking recipes, using Python, Flask and MongoDB</p>
        </a>
        <a class="project3" id="projects" href="https://djangoprj1.herokuapp.com/">
            <p class="project1-text">An Issue Tracker app with e-commerce functionality, using Python, Django,
                PostgreSQL</p>
        </a>

        <div class="circle-info">
            <div class="project-info">
                <p class="card-text" id="card-text">These are my deployed Code Institute projects:</p>
            </div>
        </div>

        <div class="link-box">
            <a href="#" class="card-link" id="card-link">
                <div class="card" id="card">
                    <div class="card-inner-text-container">
                     <p class="card-inner-text">Click here to check it out!</p>   
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="item5" id="item5">
        <div class="item5-container1">
            <div class="item5-text1" id="item5-text1">Front-end Development</div>
            <ul class="item5-ul1">
                <li class="item5-list1">Html5</li>
                <li class="item5-list2">CSS3</li>
                <li class="item5-list3">JavaScript</li>
            </ul>
        </div>
        <div class="item5-container2">
            <p class="item5-text2" id="item5-text2">Back end Development</p>
            <ul class="item5-ul2">
                <li class="item5-list4">Python</li>
                <li class="item5-list5">Django</li>
                <li class="item5-list6">Flask</li>
            </ul>
        </div>
    </div>
</div>

<script src="/static/main.js"></script>
{% endblock%}